exportPattern("^[[:alpha:]]+")
exportPattern(".")
export(ExpNumViz)
export(ExpCatViz)
export(ExpSkew)
export(ExpKurtosis)
export(ExpNumStat)
export(ExpCatStat)
export(ExpStat)
export(ExpInfoValue)
export(ExpWoeTable)
export(ExpCTable)
export(ExpReport)
export(ExpData)
export(ExpOutQQ)
export(ExpParcoord)
import(ggplot2)
importFrom(ggplot2,stat_qq)
importFrom(ggplot2,geom_qq)
importFrom(stats, median)
importFrom(stats,IQR)
importFrom(stats,var)
importFrom(stats,formula)
importFrom(stats,qnorm)
importFrom(stats,chisq.test)
importFrom(stats,quantile)
importFrom(stats,reorder)
importFrom(stats,na.omit)
importFrom(stats, sd)
importFrom(grDevices,pdf)
importFrom(grDevices,colors)
importFrom(grDevices, dev.off)
importFrom(scales,wrap_format)
importFrom(scales,dollar_format)
importFrom(scales,comma)
importFrom(rmarkdown,render)
importFrom(utils, browseURL)
importFrom(utils, installed.packages)
importFrom(utils, globalVariables)
importFrom(stringi,stri_split_fixed)
importFrom(gridExtra,marrangeGrob)
importFrom(data.table,setDT)
importFrom(data.table,data.table)
importFrom(data.table,setnames)
importFrom(data.table,.N)
importFrom(data.table,dcast)
importFrom(GGally,ggparcoord)
importFrom(sampling,strata)
import(ISLR)
