exportPattern("^[[:alpha:]]+")
exportPattern(".")
export(ExpNumViz)
export(ExpCatViz)
export(ExpSkew)
export(ExpKurtosis)
export(ExpNumStat)
export(ExpCatStat)
export(ExpStat)
export(ExpInfoValue)
export(ExpWoeTable)
export(ExpCTable)
export(ExpReport)
export(ExpData)
import(ggplot2)
importFrom(stats, median)
importFrom(stats,IQR)
importFrom(stats,var)
importFrom(stats,chisq.test)
importFrom(stats,quantile)
importFrom(stats,reorder)
importFrom(stats,na.omit)
importFrom(stats, sd)
importFrom(grDevices,pdf)
importFrom(grDevices,colors)
importFrom(grDevices, dev.off)
importFrom(scales,wrap_format)
importFrom(scales,dollar_format)
importFrom(scales,comma)
importFrom(gridExtra,marrangeGrob)
importFrom(rmarkdown,render)
importFrom(utils, browseURL)
importFrom(utils, installed.packages)
importFrom(utils, globalVariables)

